@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.body-font {
    font-family: "Manrope", sans-serif;
}

.positioning {
    left: 10px;
    bottom: -180px;
}

.abstract-bg {
    background-image: url(assets/5026563.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.paper-bg {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}